@font-face {
    font-family: 'Manuale';
    src: url(fonts/Manuale.zip);
}

@font-face {
    font-family: 'Abhya-Libre';
    src: url(fonts/Abhaya_Libre.zip);
}

body {
    background-color: #F2F2F2;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-y: scroll;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

div {
    display: block;
}

.nav-container {
    display: flex;
}

.nav-header {
    position: relative;
    top: 0;
    z-index: 10;
    font-size: 1.6rem;
    height: 80px;
    background-color: #fff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    padding-right: 50px;
    border: solid 1px #000000;
}

.nav-header_title{
    margin-left:20px;
    font-style: italic;
    font-weight: 400;
    font-family: Manuale;
    font-size: 32px;
}

.user-nav {
    align-self: stretch;
    margin-right: 0%;
    color: inherit;
}

.user-nav,
.user-nav>* {
    display: flex;
    align-items: center;
    gap:0px;
}

.user-nav_icon-box {
    margin-left:-1px;
    text-align: center;
    font-family: Abhya-Libre;
    position: relative;
    display: block;
    border: solid 1px #000000;
    height: 80px;
    width: 110px;
    line-height: 80px;
}

.title-container {
    display: block;
    height: 220px;
    margin-top:-1px;
    border: solid 1px #000000;
    box-sizing: border-box;
}

.title-section_title {
    font-size: 80px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-family: Manuale;
}

.shelf-title {
    display: flex;
    height: 70px;
    border: solid 1px #000000;
    box-sizing: border-box;
    margin-top: -1px;
    justify-content: space-between;
    align-items: center;
}

.shelf-title_title {
    font-family: Manuale;
    font-size:36px;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
}

.shelf_content tr{
    display: flex;
    flex-direction: row;
}

.game-container {
    border: 1px solid #000000;
    width: 300px;
}

.game-container * {
    font-family: Abhya-Libre;
}

.game-header {
    
}

.shelf_content table{
    border-spacing: 0;
}

.shelf_content td {
    padding: 0;
    margin-left:-1px;
    margin-top: -1px;
}

.game-menu {
    position: relative;
    font-size: 36px;
    font-weight: bolder;
    cursor: pointer;
    left: 260px;
    z-index: 500;
    width: 40px;
}

.game-banner img {
    display: block;
    width: 100%;
    margin-top: -42px;
    height: 100px;
}

.game-template {
    width: 300px;
    margin: 20px auto;
    padding: 10px;
}


.game-info{
    display: flex;
    flex-direction: row;
}

.game-side{
    display: flexbox;
    flex-direction: column;
    width: 120px;
}

.game-side h1{
    text-align: end;
    padding: 10px;
}

.game-content {
    padding: 10px;
    display: flexbox;
    width: 60%;
}

.game-content h1 {
    font-size: 24px;
    margin: 10px 0;
}

.game-content .game-price {
    font-size: 24px;
    margin-top: 10px;
}


.game-content .game-tags {
    margin-top: 10px;
}

.game-buttons {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px;
}

.game-buttons button {
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    width: 100px;
    font-family: Manuale;
    margin-top:-1px;
}

.game-buttons button:hover {
    background-color: lightgray;
}

.game-buttons_wishlist {
    font-size: 16px;
    height: 30px;
}

.game-buttons_buy {
    font-size: 24px;
    height:50px
}

.games-more{
    border: black 1px solid;
    width: 100%;
    margin-left: -1px;
    margin-top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.games-more_button{
    border: 1px black solid;
    font-size: 28px;
    width: 160px;
    height: 45px;
    font-family:Abhya-Libre;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_footer{
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_footer p{
    font-size: 32px;
    font-family: Abhya-Libre;
}

.help_box{
    margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 83px);
    margin-top: -1px;
    width: 800px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
}

.help_box p{
    font-size: 32px;
    font-family: Abhya-Libre;
    width: 80%;
}

.help_box h1{
    font-size: 36px;
}

.log_box{
    border:1px solid black;
    margin-top: -1px;
    min-height: calc(100vh - 83px);
    margin-left:auto;
    margin-right: auto;
    width: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.log_box h1{
    font-size:36px;
    font-family: Abhya-Libre;
    margin-bottom: 5px;
}

.credentials-input{
    margin-top:30px;
}

.credentials-input p {
    font-size: 26px;
    font-family: Abhya-Libre;
    margin-bottom: 5px;
}

.credentials-input input {
    border: 1px solid black;
    width: 480px;
    height: 40px;
    font-size: 30px;
    font-family: Abhya-Libre;
}

.log_box a {
    margin-top: 15px;
}

.log_box button {    
    border: 1px solid black;
    width: 300px;
    height: 60px;
    font-size: 36px;
    font-family: Abhya-Libre;
    background-color: #fff;
    margin-top: auto;
    margin-bottom: 35px;
}

.log_box button:hover{
    background-color: #e9e9e9;
    cursor:pointer;
}

.submit_box{
    border:1px solid black;
    margin-top: -1px;
    min-height: calc(100vh - 83px);
    margin-left:auto;
    margin-right: auto;
    width: 1000px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.submit_box h1{
    font-size:36px;
    font-family: Abhya-Libre;
    margin-bottom: 5px;
}

.game-input{
    margin-top:30px;
}

.game-input p {
    font-size: 26px;
    font-family: Abhya-Libre;
    margin-bottom: 5px;
}

.game-input input {
    border: 1px solid black;
    width: 600px;
    height: 40px;
    font-size: 30px;
    font-family: Abhya-Libre;
}

.submit_box a {
    margin-top: 15px;
}

.submit_button {    
    border: 1px solid black;
    width: 300px;
    height: 60px;
    font-size: 36px;
    font-family: Abhya-Libre;
    background-color: #fff;
    margin-top: auto;
    margin-bottom: 35px;
}

.submit_box button:hover{
    background-color: #e9e9e9;
    cursor:pointer;
}

.submit_box textarea {
    border: 1px solid black;
    width: 600px;
    font-size: 30px;
    font-family: Abhya-Libre;
    resize: none;
    min-height: 400px;
}

.game-input label {
    align-items: center;
    display: flex;
    border: 1px solid black;
    width: 600px;
    height: 40px;
    font-size: 30px;
    font-family: Abhya-Libre;
    cursor: pointer;
}

.game-genres_content {
    border: 1px solid black;
    width: 600px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.game-genres_content button {
    border: 0px;
    width: 50px;
    height: 50px;
    font-size: 36px;
    font-family: Abhya-Libre;
}

.game-genre {
    display: flex;
    align-items: center;
}

.game-genre button {
    height: 44px;
    width: 44px;
    margin: 0;
    margin-right: -1px;
    border: 1px solid black;
    font-family: Abhya-Libre;
    font-size: 30px;
}

.game-genre input {
    width: 562px;
}

.game-genres_content p {
    margin-left: 10px;
    font-family: Abhya-Libre;
    font-size: 26px;
}

.download-file{
    margin: 10px;
    display: flex;
    border: 1px solid black;
    width: 600px;
    height: 270px;
    flex-direction: column;
}

.download-file input {
    border: 1px solid black;
    width: 500px;
    margin: 10px;
    height: 40px;
    font-size: 30px;
    font-family: Abhya-Libre;
}

.download-file p {
    font-size: 26px;
    font-family: Abhya-Libre;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.download-file_button {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.download-file_button button {
    border: 1px black solid;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:-1px
}

.search-box{
    margin-left: -3px;
    display: flex;
    flex-direction: row;
}

.search-games table{
    border-spacing: 0;
}

.search-games td{
    padding: 0;
    margin-top: -1px;
    margin-left: -1px;
}

.search-games tr{
    display: flex;
}

.search-filters{
    display: block;
    width: 100%;
    min-height: 100%;
    border: 1px solid black;
    margin-top:-1px;
}

.search-filters_filters {
    padding: 5px;
}

.search-filters_filter input {
    border: 1px solid black;
    height: 40px;
    min-width: 300px;
    font-size: 22px;
    font-family: Abhya-Libre;
}

.search-filters_filter p {
    font-size: 20px;
    margin-top: 10px;
    font-family: Abhya-Libre;
}

.search-filters_search input {
    width: calc(100% - 4px);
    height: 100px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    font-family: Abhya-Libre;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
}

.search-filter-genre{
    display: flex;
}

.search-filter-genre button {
    border: 1px solid black;
    width: 44px;
    height: 44px;
    font-size: 26px;
    font-family: Abhya-Libre;
}

.search-filter-genre button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.search-filter-genre input {
    border: 1px solid black;
    width: 300px;
    height: 40px;
    margin-left:-1px;
    font-size: 26px;
    font-family: Abhya-Libre;
}

.search-filter_genre {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 30px;
    min-width: 200px;
    padding: 0;
    font-size: 22px;
    font-family: Abhya-Libre;
    margin-top: 1px;
}

.search-filter_genre button {
    border: 1px solid black;
    height: 32px;
    width: 32px;
    margin-left: -1px;
}

.search-filter_genre button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.search-filter_genre p {
    margin-left:5px;
}

.search-filter-price_option,
.search-filter-date_option,
.search-filter-sale_option {
    margin-top: -10px;
    display: flex;
    border: 1px;
    width: 300px;
    align-items: center;
}

.option-circle {
    position: relative;
    height: 25px;
    min-width: 25px;
    top: -4.5px;
    margin-right: 5px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.option-circle_selected {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
}

.search-filter-price_price,
.search-filter-date_date,
.search-filter-sale_sale {
    display: flex;
}

.search-filter-price_price input {
    min-width: 20px;
    width: 100px;
}

.search-filter-date_date input  {
    min-width: 20px;
    width: 140px;
    font-size: 20px;
}

.game-page_banner img{
    width: calc(100% - 2px);
    margin-top: -1px;
    height: 360px;
    border: 1px solid black;
}

.game-page-body {
    padding: 0;
    display: flex;
}

.game-page-body_info {
    padding:5px;
    display: block;
    width: 75%;
    min-height: 500px;
    height: 100%;
}

.game-page-body_price {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-top: 5px;
    padding-right: 40px;
    min-height: 500px;
    height: 100%;
}

.game-page_price {
    display: flex;
    margin-left:auto;
}

.game-page_price h1 {
    font-size: 46px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.game-page_buttons {
    display: flex;
    flex-direction: column;
}

.game-page_buttons button {
    border: 1px black solid;
    width: 250px;
    font-family: Abhya-Libre;
    margin-left:auto;
}

.game-page_buttons button:hover,
.game-page_report button:hover {
    background-color: lightgray;
    cursor: pointer;
}


.game-page_buy{
    height: 80px;
    font-size: 36px;
}

.game-page_wishlist {
    margin-top: -1px;
    height: 30px;
    font-size: 20px;

}

.game-page_report {
    margin-left:auto;
    margin-top: auto;
    display: flex;
}

.game-page_report button {
    border: 1px black solid;
    width: 100px;
    font-family: Abhya-Libre;
}

.game-page-files_download {
    color: blue;
    text-decoration: underline;
}

.game-page-tags_tags {
    display: flex;
    flex-direction: column;
}

.game-page-tag {
    border: 1px solid black;
    font-family: Abhya-Libre;
    display: block;
    min-width: 50px;
    max-width: 160px;
    font-size: 20px;
    margin: 2px;
}

.game-page_name {
    font-family: Abhya-Libre;
    font-size: 40px;
    margin-bottom: 1px;
}

.game-page_dev {
    font-family: Abhya-Libre;
    font-size: 18px;
}

.game-page-tags_text {
    font-family: Abhya-Libre;
    font-size: 22px;
    margin-bottom: 2px;
}

.game-page_desc {
    font-family: Abhya-Libre;
    font-size: 20px;
}

.game-page-files_file {
    font-family: Abhya-Libre;
    font-size: 24px;
}

.profile-header{
    display: flex;
    flex-direction: row;
    height: 300px;
    border: 1px black solid;
    margin-top: -1px;
}

.profile-header-icon {
    padding: 20px;
    width: 300px;
}

.profile-header-icon img {
    width: 256px;
    height: 256px;
    border: 1px solid black;
}

.profile-header-info {
    width: 900px;
}

.profile-header-button {
    width: 610px;
    padding: 30px;
}

.profile-header-button button {
    display: flex;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    width: 200px;
    height: 60px;
    font-family: Abhya-Libre;
    margin-left: auto;
}

.profile-header-button button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.profile-footer {
    width: calc(100% - 1px);
    height: 80px;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
    display: flex;

}

.profile-footer_report {
    margin-left: auto;
    margin-right: 30px;
    margin-top: 25px;
}

.profile-footer_report button{
    border: 1px solid black;
    width: 100px;
    height: 32px;
    font-family: Abhya-Libre;
    font-size: 22px;
}

.profile-footer_report button:hover {
    background-color: lightgray;
    cursor: pointer;
}